# IDE/Editor configurations
.idea/
.vscode/

# Environment files
.env

# Logs
*.log

# Exclure les dossiers de build
backend/dist/
client/dist/

# Exclure d'autres fichiers générés ou spécifiques
backend/config.js
